<!DOCTYPE html>
<html>
    <head>
        <title>Market Place | Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />  

<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Markito Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Amaranth:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->

<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $(".scroll").click(function(event){     
                            event.preventDefault();
                            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                        });
                    });
                </script>
<!-- start menu -->
<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="js/megamenu.js"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>

<script src="js/simpleCart.min.js"> </script>
<style type="text/css">
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;


.glyphicon {  margin-bottom: 10px;margin-right: 10px;}



</style>
</head>
<body> 
<!--header-->   
<div class="header" >
    <div class="top-header" style="height: 65px;">      
        <div class="container">
        <div class="top-head" >
            <div class="header-para">
                <a href="index.html"><h3><p style="color: white;margin-top: 2px;">MARKITO</p></h3></a>   
            </div>  
            <div class="search-top">
                <div class="search">
                    <form>
                        <input type="text" value="cari produk atau toko" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'cari produk atau toko';}" >
                        <input type="submit" value="" >
                    </form>
                </div>
                
                <div class="clearfix"> </div>
            </div>

            <div class="world" style="margin-left: 10px; margin-top: -6px;">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#a9b2c5;"><i class="glyphicon glyphicon-bell"></i> Notifikasi <i class="caret"></i></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Pesan <i class="badge" style="background-color: green">1</i></a></li>
                                  <li><a href="#">Diskusi Produk <i class="badge" style="background-color: green">9</i></a></li>
                                  <li><a href="#">Ulasan <i class="badge" style="background-color: green">4</i></a></li>
                                  <li><a href="#">Layanan Pengguna <i class="badge" style="background-color: green">10</i></a></li>
                                  <li><a href="#">Pusat Resolasi <i class="badge" style="background-color: green">15</i></a></li>
                                  <li><a href="#">Seller Info <i class="badge" style="background-color: green">13</i></a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#a9b2c5;"><i class="glyphicon glyphicon-home"></i> Toko<i class="caret"></i></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Nama Toko</a></li>
                                  <li><a href="#">Penjualan</a></li>
                                  <li><a href="tambah.html">Tambah Produk</a></li>
                                  <li><a href="#">Daftar Produk</a></li>
                                  <li><a href="#">Statistik</a></li>
                                  <li><a href="#">TopAds</a></li>
                                  <li><a href="#">Pengaturan Toko</a></li>
                                  <li><a href="#">Pengaturan Admin</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#a9b2c5;"><i class="glyphicon glyphicon-user"></i> User<i class="caret"></i></a>
                                <ul class="dropdown-menu">
                                  <li><a href="profile.html">Nama User</a></li>
                                  <li><a href="#">Saldo Rp.0</a></li>
                                  <li><a href="#">Pembelian</a></li>
                                  <li><a href="#">Wishlist</a></li>
                                  <li><a href="#">Toko Favorit</a></li>
                                  <li><a href="#">Pengaturan</a></li>
                                  <li><a href="index2.html">Keluar</a></li>
                                </ul>
                            </li>
                        
                    </ul>
                </div>
                <div class="clearfix"> </div>
        </div>
        </div>
    </div>
            <!---->

            <div class="header-top">
                <div class="container">
                    <div class="head-top">
                        <div class="top-nav">       
                            <ul class="megamenu skyblue">
                                <li class="active grid"><a  href="#">Fashion</a>
                                    <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="products.html">Shirts</a></li>
                                                        <li><a href="products.html">Shoes, Boots & Trainers</a></li>
                                                        <li><a href="products.html">Shorts</a></li>
                                                        <li><a href="products.html">Suits & Blazers</a></li>
                                                        <li><a href="products.html">Sunglasses</a></li>
                                                        <li><a href="products.html">Sweatpants</a></li>
                                                        <li><a href="products.html">Swimwear</a></li>
                                                        <li><a href="products.html">Trousers & Chinos</a></li>
                                                        <li><a href="products.html">T-Shirts</a></li>
                                                        <li><a href="products.html">Underwear & Socks</a></li>
                                                        <li><a href="products.html">Vests</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <h4>Popular Brands</h4>
                                                    <ul>
                                                        <li><a href="products.html">Levis</a></li>
                                                        <li><a href="products.html">Persol</a></li>
                                                        <li><a href="products.html">Nike</a></li>
                                                        <li><a href="products.html">Edwin</a></li>
                                                        <li><a href="products.html">New Balance</a></li>
                                                        <li><a href="products.html">Jack & Jones</a></li>
                                                        <li><a href="products.html">Paul Smith</a></li>
                                                        <li><a href="products.html">Ray-Ban</a></li>
                                                        <li><a href="products.html">Wood Wood</a></li>
                                                    </ul>   
                                                </div>                                              
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><a   href="#">Furniture & Decor</a>
                                    <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="decor.html">Bed</a></li>
                                                        <li><a href="decor.html">Chest</a></li>
                                                        <li><a href="decor.html">Stool & Reider</a></li>
                                                        <li><a href="decor.html">Chair & Carpet</a></li>
                                                        <li><a href="decor.html">Curtain & Brix</a></li>
                                                        <li><a href="decor.html">Shelf</a></li>
                                                        <li><a href="decor.html">Desk</a></li>
                                                        <li><a href="decor.html">Sofa & Anson</a></li>
                                                        <li><a href="decor.html">Bench</a></li>
                                                        <li><a href="decor.html">Sink</a></li>
                                                        <li><a href="decor.html">Lamp</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="decor.html">Armchair</a></li>
                                                        <li><a href="decor.html">Reider Bench</a></li>
                                                        <li><a href="decor.html">Carpet & Desk</a></li>
                                                        <li><a href="decor.html">Wardrobe & Lamp</a></li>
                                                        <li><a href="decor.html">Car seat</a></li>
                                                        <li><a href="decor.html">Lounger</a></li>
                                                        <li><a href="decor.html">Anson</a></li>
                                                        <li><a href="decor.html">Karlstad</a></li>
                                                        <li><a href="decor.html">Camilla & Wardrobe</a></li>
                                                        <li><a href="decor.html">Colton</a></li>
                                                        <li><a href="decor.html">Brix</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                        </div>
                                    </div></li>
                                <li class="grid"><a  href="#">Mobiles & tablets</a>
                                    <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="mobile.html">Lenovo Tablets</a></li>
                                                        <li><a href="mobile.html">Motorola</a></li>
                                                        <li><a href="mobile.html">Samsung </a></li>
                                                        <li><a href="mobile.html">Htc Tab</a></li>
                                                        <li><a href="mobile.html">Dell & Compaq</a></li>
                                                        <li><a href="mobile.html">Asus Tablets</a></li>
                                                        <li><a href="mobile.html">Microsoft</a></li>
                                                        <li><a href="mobile.html">Moto E & Moto G</a></li>
                                                        <li><a href="mobile.html">Intex</a></li>
                                                        <li><a href="mobile.html">Hauwei Lumia</a></li>
                                                        <li><a href="mobile.html">Loungewear</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="mobile.html">Asus Zenfone 2</a></li>
                                                        <li><a href="mobile.html">Nikon & Sony</a></li>
                                                        <li><a href="mobile.html">Shorts</a></li>
                                                        <li><a href="mobile.html">Olymplus</a></li>
                                                        <li><a href="mobile.html">Sunglasses</a></li>
                                                        <li><a href="mobile.html">Samsung Nx</a></li>
                                                        <li><a href="mobile.html">Printers & Monitors</a></li>
                                                        <li><a href="mobile.html">Routers</a></li>
                                                        <li><a href="mobile.html">Data Cards</a></li>
                                                        <li><a href="mobile.html">Mouse & Keyboard</a></li>
                                                        <li><a href="mobile.html">Ink Cartridges</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="grid"><a  href="#">Health & Beauty</a>     
                                </li>       
                                <li><a  href="#">Gaming & Camera</a>
                                    <div class="megapanel">
                                        <div class="row">
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="mobile.html">Lenovo Tablets</a></li>
                                                        <li><a href="mobile.html">Motorola</a></li>
                                                        <li><a href="mobile.html">Samsung </a></li>
                                                        <li><a href="mobile.html">Htc Tab</a></li>
                                                        <li><a href="mobile.html">Dell & Compaq</a></li>
                                                        <li><a href="mobile.html">Asus Tablets</a></li>
                                                        <li><a href="mobile.html">Microsoft</a></li>
                                                        <li><a href="mobile.html">Moto E & Moto G</a></li>
                                                        <li><a href="mobile.html">Intex</a></li>
                                                        <li><a href="mobile.html">Hauwei Lumia</a></li>
                                                        <li><a href="mobile.html">Loungewear</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                            <div class="col1">
                                                <div class="h_nav">
                                                    <ul>
                                                        <li><a href="mobile.html">Asus Zenfone 2</a></li>
                                                        <li><a href="mobile.html">Nikon & Sony</a></li>
                                                        <li><a href="mobile.html">Shorts</a></li>
                                                        <li><a href="mobile.html">Olymplus</a></li>
                                                        <li><a href="mobile.html">Sunglasses</a></li>
                                                        <li><a href="mobile.html">Samsung Nx</a></li>
                                                        <li><a href="mobile.html">Printers & Monitors</a></li>
                                                        <li><a href="mobile.html">Routers</a></li>
                                                        <li><a href="mobile.html">Data Cards</a></li>
                                                        <li><a href="mobile.html">Mouse & Keyboard</a></li>
                                                        <li><a href="mobile.html">Ink Cartridges</a></li>
                                                    </ul>   
                                                </div>                          
                                            </div>
                                        </div></li>


                            </ul> 
                        </div>
                        <div class="cart box_1">
                            <a href="checkout.html">
                                <h3> <div class="total">
                                        <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> items </span>)
                                    </div>
                                    <img src="images/cart.png" alt=""/></h3>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty"><img src="images/cart-c.png"  alt=""></a></p>
                            <div class="clearfix"> </div>
                        </div>

                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>

<div class="container">
                    <div class="col-sm-2 cart-total">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-9md">
                        <h3>
                            Bissmillah</h3>
                        <small><cite title="San Francisco, USA">Jakarta, Indonesia <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>bismillah@gmail.com
                            <br />
                            <i class="glyphicon glyphicon-phone"></i><a href="#">087654321</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>1996 Augst 20</p>
                            <br />
                            <br />
                                <a href="editprofile.html" class="label label-warning label-smal">
                                    <i class="icon-setting style="display: block;></i>
                                    &nbsp;Edit
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


            <!---->
            <div class="bottom-content">

                <div class="col-md-4">
                    <img src="images/ad1.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-4">
                    <img src="images/ad1.png" class="img-responsive" alt="">
                </div>
                <div class="col-md-4">
                    <img src="images/ad1.png" class="img-responsive" alt="">
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>  

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 footer-left">
                <a href="index.html"><h2>Market Place</h2></a>
                <p class="footer-class">© 2017 Market Place All Rights Reserved</p>
            </div>
            <div class="col-md-2 footer-middle">
                <ul>
                    <li><a href="#">about us</a> </li>
                    <li><a href="#">   contact us</a></li>
                    <li ><a href="#" >  our stores</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-left-in">
                <ul class="term">
                    <li><a href="#">terms and conditions</a> </li>
                    <li><a href="#">  markplace in the press</a></li>
                    <li ><a href="#" >  testimonials</a></li>   
                </ul>
                <ul class="term">
                    <li><a href="#">join us</a> </li>
                    <li><a href="#">  markplace videos</a></li>

                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 footer-right">
                <h5>WE SUPPORT</h5>
                <ul>
                    <li><a href="#"><i> </i></a> </li>
                    <li><a href="#"><i class="we"> </i></a></li>
                    <li ><a href="#" ><i class="we-in"> </i></a></li>
                    <li ><a href="#" ><i class="we-at"> </i></a></li>
                    <li ><a href="#" ><i class="we-at-at"> </i></a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                 var defaults = {
                 containerID: 'toTop', // fading element id
                 containerHoverID: 'toTopHover', // fading element hover id
                 scrollSpeed: 1200,
                 easingType: 'linear' 
                 };
                 */

                $().UItoTop({easingType: 'easeOutQuart'});

            });
        </script>
        <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    </div>

</body>
</html>